.userInfoContainer {
  padding-left: 16px;
  padding-right: 16px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  margin-top: 36px;
  padding-bottom: 44px;
}

.userInfoImage {
  width: 54px;
  height: 54px;
}

.userInfo1 {
  border: 1px solid #dadada;
  padding: 12px 24px 19px 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
}

.userNameAndImage h1 {
  font-weight: 500;
  font-size: 16px;
  color: #4f5d72;
}

.userNameAndImage h2 {
  font-size: 12px;
  color: #4d5869;
}

.userStatisticLogo {
  width: 18px;
  height: 18px;
}

.userStatisticLogoAndAmount {
  display: flex;
  flex-direction: row;
  gap: 5px;
  margin-top: 10px;
}
.buttonContainer {
  display: none;
}
.imageAndInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logoWrapper {
  display: none;
}

@media screen and (min-width: 640px) {
  .userInfoContainer {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media screen and (min-width: 768px) {
  .userInfoContainer {
    padding-left: 90px;
    padding-right: 90px;
  }
}

@media screen and (min-width: 1024px) {
  .userInfoContainer {
    padding-left: 60px;
    padding-right: 60px;
  }
  .userInfoContainer {
    display: flex;
    justify-content: space-between;
  }
  .userInfo1 {
    width: 100%;
  }
}

@media screen and (min-width: 1440px) {
  .userInfoContainer {
    padding-left: 64px;
    padding-right: 64px;
    padding-bottom: 68px;
  }

  .userInfo1 {
    display: flex;
    flex-direction: column;
    padding: 12px 33px 43px 12px;
    justify-content: space-between;
    position: relative;
  }

  .cardButton {
    border: 1px solid #dadada;
    padding: 5px 12px;
    letter-spacing: 0.5px;
    font-size: 12px;
    text-align: center;
    border-radius: 5px;
  }

  .imageAndInfo {
    display: flex;
    flex-direction: row;
    margin-right: auto;
    gap: 12px;
  }
  .buttonContainer {
    display: flex;
    flex-direction: row;
    margin-right: auto;
    gap: 8px;
    margin-top: 16px;
  }

  .logoWrapper {
    position: absolute;
    top: 0;
    right: 0;
    width: fit-content;
  }

  .rectangleLogo {
    width: 12px;
    height: 22px;
    margin-right: 10px;
  }

  .logoNumber {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 12px;
    color: white;
    margin-right: 12.5px;
    margin-top: 3px;
    font-weight: 100;
  }

  .logoWrapper {
    display: block;
  }
}

@media screen and (min-width: 1836px) {
  .userInfoContainer {
    padding-left: 100px;
    padding-right: 100px;
  }
}

@media screen and (min-width: 1920px) {
  .userInfoContainer {
    padding-left: 120px;
    padding-right: 120px;
  }
}
