.articleDarkMain {
  background-color: #000000;
  padding-top: 20px;
  padding-left: 16px;
  padding-right: 16px;
}

.astronautImage {
  width: 100%;
  height: auto;
}

.articleDarkMainTextContainer {
  color: white;
}

.articleDarkMainTextContainer h2 {
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1px;
  margin-top: 8px;
}

.articleDarkMainTextContainer p {
  font-weight: 400;
  font-size: 13px;
  margin-top: 8px;
  color: #b5b5b5;
  margin-bottom: 68px;
}
/* 
.articledarkSecondaryContainer h5 {
  color: #c6c6c6;
  font-weight: 400;
  font-size: 12px;
  padding-left: 16px;
  margin-top: 18px;
}

.articledarkSecondaryContainer p {
  color: white;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  padding-left: 16px;
  letter-spacing: 1px;
  margin-top: 5px;
} */

/* .userAndPostTime {
  display: flex;
  color: #b5b5b5;
  gap: 4px;
  padding-left: 16px;
  margin-top: 2px;
}

.userAndPostTime h4 {
  font-weight: 300;
  font-size: 12px;
} */

/* .articleDarkSecondaryImage {
  width: 100%;
  height: 233px;
} */
/* .articledarkSecondaryContainer {
  padding-top: 16px;
  padding-bottom: 37px;
} */

/* .userImage {
  width: 13px;
  height: 13px;
} */
/* .article-5-section-2-container {
  display: flex;
  justify-content: space-between;
} */

@media screen and (min-width: 640px) {
  .articleDarkMain {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media screen and (min-width: 768px) {
  .articleDarkMain {
    padding-left: 90px;
    padding-right: 90px;
  }
}

@media screen and (min-width: 1024px) {
  .desktopContainerPrimary {
    display: flex;
    gap: 30px;
  }

  .desktopContainerSecondary {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }

  .desktopContainerSecondary > :nth-child(3) {
    display: none;
  }

  .articleDarkMain {
    padding-left: 60px;
    padding-right: 60px;
  }
}

@media screen and (min-width: 1280px) {
  .desktopContainerSecondary {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
  }

  .articleDarkMain {
    padding-left: 60px;
    padding-right: 60px;
  }
  .desktopContainerSecondary > :nth-child(3) {
    display: block;
  }
}
