.articleDarkMain {
  background-color: #000000;
  padding-top: 20px;
  padding-left: 16px;
  padding-right: 16px;
}

.astronautImage {
  width: 100%;
  height: auto;
}

.articleDarkMainTextContainer {
  color: white;
}

.articleDarkMainTextContainer h2 {
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1px;
  margin-top: 8px;
}

.articleDarkMainTextContainer p {
  font-weight: 400;
  font-size: 13px;
  margin-top: 8px;
  color: #b5b5b5;
  margin-bottom: 68px;
}

.desktopParagraph {
  display: none;
}

@media screen and (min-width: 640px) {
  .articleDarkMain {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media screen and (min-width: 768px) {
  .articleDarkMain {
    padding-left: 90px;
    padding-right: 90px;
  }
}

@media screen and (min-width: 1024px) {
  .desktopContainerPrimary {
    display: flex;
    gap: 30px;
  }

  .desktopContainerSecondary {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }

  .desktopContainerSecondary > :nth-child(3) {
    display: none;
  }

  .articleDarkMain {
    padding-left: 60px;
    padding-right: 60px;
  }
}

@media screen and (min-width: 1280px) {
  .desktopContainerSecondary {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
  }

  .articleDarkMain {
    padding-left: 60px;
    padding-right: 60px;
  }
  .desktopContainerSecondary > :nth-child(3) {
    display: block;
  }

  .desktopParagraph {
    display: block;
  }
  .mobileParagraph {
    display: none;
  }

  .articleDarkMainTextContainer h2 {
    font-weight: 400;
    font-size: 28px;

    margin: 0;
  }

  .articleDarkMainTextContainer p {
    font-weight: 400;
    font-size: 16px;
  }
  .astronautImage {
    width: 650px;
    height: 342px;
  }
  .desktopContainerPrimary {
    margin-top: 75px;
    margin-bottom: 48px;
  }
}

@media screen and (min-width: 1440px) {
  .articleDarkMain {
    padding-left: 64px;
    padding-right: 64px;
  }
  .desktopParagraph {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.8px;
    padding-right: 20px;
  }
}

@media screen and (min-width: 1836px) {
  .articleDarkMain {
    padding-left: 100px;
    padding-right: 100px;
  }
}

@media screen and (min-width: 1920px) {
  .articleDarkMain {
    padding-left: 120px;
    padding-right: 120px;
  }
}
