.articledarkSecondaryContainer {
  padding-top: 16px;
  padding-bottom: 37px;
}

.articledarkSecondaryContainer h5 {
  color: #c6c6c6;
  font-weight: 400;
  font-size: 12px;
  padding-left: 16px;
  margin-top: 18px;
}

.articledarkSecondaryContainer p {
  color: white;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  padding-left: 16px;
  letter-spacing: 1px;
  margin-top: 5px;
  padding-right: 16px;
}

.articleDarkSecondaryImage {
  width: 100%;
  height: auto;
}

.userAndPostTime {
  display: flex;
  color: #b5b5b5;
  gap: 4px;
  padding-left: 16px;
  margin-top: 2px;
}

.userAndPostTime h4 {
  font-weight: 300;
  font-size: 12px;
}
.userImage {
  width: 24px;
  height: 24px;
}
.article-5-section-2-container {
  display: flex;
  justify-content: space-between;
}

@media screen and (min-width: 1440px) {
  .articleDarkSecondaryImage {
    height: 230px;
  }
  .articledarkSecondaryContainer p {
    font-weight: 400;
    font-size: 16px;
  }
  .userAndPostTime {
    margin-top: 12px;
  }
  .articledarkSecondaryContainer {
    padding-bottom: 74px;
  }
}
