.articleCardBlock {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 32px;
}

@media screen and (min-width: 1024px) {
  .articleCardBlock {
    flex-direction: row;
    gap: 10;
    padding-left: 60px;
    padding-right: 60px;
    margin-top: 24px;
  }
  .customPadding {
    padding: 0;
  }
  .articleCardBlock {
    gap: 15px;
  }
}
