.caruselSection {
  position: relative;
  padding: 2rem;
  background-color: #fff;
}

.desktopCarouselTitle {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 44px;
  /* padding-left: 16px;
  padding-right: 16px; */
}

.desktopCarouselTitle h1 {
  font-weight: 500;
  font-size: 10px;
  white-space: nowrap;
}

.titleLine {
  background-color: #dadada;
  height: 1px;
  width: 100%;
}

.container {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  overflow: visible;
  padding: 0 100px;
}
.slide {
  position: relative;
  width: 370px;
  height: 500px;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
}

.overlayBottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.slide::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1;
  transition: background 0.3s ease;
  pointer-events: none;
}

:global(.swiper-slide-active)::before {
  background: rgba(0, 0, 0, 0);
}

.overlayTop {
  background: rgba(0, 0, 0, 0.5);
  height: 30%;
  display: flex;
  align-items: center;
  padding-left: 16px;
  padding-top: 32px;
  padding-bottom: 32px;
}

.overlayTop h1 {
  color: white;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.3;
  margin: 0;
}

.overlayBottomInfo {
  background: black;
  height: 17%;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.infoItem {
  display: flex;
  align-items: center;
  gap: 6px;
  color: white;
  font-size: 0.9rem;
}

.infoItem img {
  width: 18px;
  height: 18px;
  object-fit: contain;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 20;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  width: 40px;
  height: 40px;
}

.arrow img {
  width: 32px;
  height: 32px;
  object-fit: contain;
}

/* Move arrows farther out */
.arrowLeft {
  left: 40px; /* adjust as needed */
}

.arrowRight {
  right: 40px;
  transform: translateY(-50%) rotate(180deg);
}

@media screen and (min-width: 1440px) {
  .arrowLeft {
    left: 140px;
  }

  .arrowRight {
    right: 140px;
  }

  .arrow img {
    width: 44px;
    height: 44px;
  }
  .desktopCarouselTitle {
    padding-left: 64px;
    padding-right: 64px;
  }
  .desktopCarouselTitle h1 {
    font-weight: 500;
    font-size: 18px;
    white-space: nowrap;
  }
}

@media screen and (min-width: 1536px) {
  .arrowLeft {
    left: 180px;
  }

  .arrowRight {
    right: 180px;
  }
}

@media screen and (min-width: 1836px) {
  .arrowLeft {
    left: 330px;
  }

  .arrowRight {
    right: 330px;
  }
}

@media screen and (min-width: 1920px) {
  .arrowLeft {
    left: 360px;
  }

  .arrowRight {
    right: 360px;
  }
}
