.newsCardPrimaryContainer {
  padding-left: 16px;
  padding-right: 16px;
  margin-bottom: 24px;
}

.newsCardPrimaryTitle {
  display: flex;
  align-items: center;
  gap: 12px;
  /* padding-left: 16px;
  padding-right: 16px; */
}

.newsCardPrimaryTitle h1 {
  font-weight: 500;
  font-size: 14px;
}

.titleLine {
  background-color: #dadada;
  height: 1px;
  width: 100%;
}

.newsArticleDetails h2 {
  font-weight: 400;
  font-size: 14px;
  /* letter-spacing: 1px; */
  line-height: 23px;
}

.spaceShipTwo {
  width: 87px;
  height: 88px;
  border-radius: 5px;
}

.newsArticleDetails {
  display: flex;
  justify-content: space-between;
  margin-bottom: 14px;
}
.newsCardsContainer {
  margin-top: 24px;
}

.userAndPostTime {
  display: flex;
  gap: 4px;
  margin-top: 7px;
}

.userAndPostTime h4 {
  font-size: 11px;
  font-weight: 500;
  color: #474747;
}

.userImage {
  width: 13px;
  height: 13px;
}

.desktopSection {
  display: none;
}

@media screen and (min-width: 640px) {
  .newsCardPrimaryContainer {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media screen and (min-width: 768px) {
  .newsCardPrimaryContainer {
    padding-left: 90px;
    padding-right: 90px;
  }
}

@media screen and (min-width: 1024px) {
  .newsCardsContainer {
    display: none;
  }
  .desktopSection {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-top: 44px;
  }
  .customPadding {
    padding: 0;
  }
  .newsCardPrimaryContainer {
    padding-left: 60px;
    padding-right: 60px;
  }
  .newsCardPrimaryTitle {
  }
}

@media screen and (min-width: 1440px) {
  .newsCardPrimaryContainer {
    padding-left: 64px;
    padding-right: 64px;
  }

  .newsCardPrimaryTitle h1 {
    font-weight: 500;
    font-size: 18px;
  }
}

@media screen and (min-width: 1836px) {
  .newsCardPrimaryContainer {
    padding-left: 100px;
    padding-right: 100px;
  }
}

@media screen and (min-width: 1920px) {
  .newsCardPrimaryContainer {
    padding-left: 120px;
    padding-right: 120px;
  }
}
