.newsCardPrimaryTitle {
  display: flex;
  align-items: center;
  gap: 12px;
  padding-left: 16px;
  padding-right: 16px;
  margin-bottom: 24px;
}

.newsCardPrimaryTitle h1 {
  font-weight: 500;
  font-size: 14px;
}

.titleLine {
  background-color: #dadada;
  height: 1px;
  width: 100%;
}
.desktopSection {
  display: none;
}

.mobileSection {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
@media screen and (min-width: 1024px) {
  .newsCardsContainer {
    display: none;
  }
  .desktopSection {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-top: 44px;
  }
  .customPadding {
    padding: 0;
  }
  .mobileSection {
    display: none;
  }
  .newsCardPrimaryTitle {
    padding-left: 60px;
    padding-right: 60px;
  }
  .desktopSection {
    padding-left: 60px;
    padding-right: 60px;
  }
}

@media screen and (min-width: 1440px) {
  .newsCardPrimaryTitle h1 {
    font-size: 18px;
  }

  .newsCardPrimaryTitle {
    padding-left: 64px;
    padding-right: 64px;
  }
  .desktopSection {
    padding-left: 64px;
    padding-right: 64px;
  }
}

@media screen and (min-width: 1836px) {
  .newsCardPrimaryTitle {
    padding-left: 100px;
    padding-right: 100px;
  }
  .desktopSection {
    padding-left: 100px;
    padding-right: 100px;
  }
}

@media screen and (min-width: 1920px) {
  .newsCardPrimaryTitle {
    padding-left: 120px;
    padding-right: 120px;
  }
  .desktopSection {
    padding-left: 120px;
    padding-right: 120px;
  }
}
