.newsCardPrimaryTitle {
  display: flex;
  align-items: center;
  gap: 12px;
  padding-left: 16px;
  padding-right: 16px;
  margin-bottom: 24px;
}

.newsCardPrimaryTitle h1 {
  font-weight: 500;
  font-size: 14px;
}

.titleLine {
  background-color: #dadada;
  height: 1px;
  width: 100%;
}
