.container {
  padding-left: 16px;
  padding-right: 16px;
}

.container h1 {
  font-family: inter;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 1px;
  color: #4e4e4e;
  margin-bottom: 8px;
}

.spaceshipOne {
  width: 100%;
  height: auto;
  margin-bottom: 8px;
  border-radius: 5px;
}

.container p {
  color: #737373;
  font-size: 13px;
  margin-bottom: 10px;
}

.userImage {
  width: 13px;
  height: auto;
}

.userAndPostTime {
  display: flex;
  gap: 4px;
}

.userAndPostTime h4 {
  font-size: 11px;
  font-weight: 500;
  color: #474747;
}
.titleButton {
  display: none;
}

@media screen and (min-width: 640px) {
  .container {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    padding-left: 90px;
    padding-right: 90px;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    padding-left: 60px;
    padding-right: 20px;
  }
}

@media screen and (min-width: 1280px) {
  .container p {
    font-size: 14px;
  }

  .container h1 {
    font-size: 18px;
  }

  .titleButton {
    display: block;
    border: 1px solid #2e2e2e99;
    padding: 5px 9px;
    width: 83px;
    font-size: 10px;
    text-align: center;
    margin-top: 9px;
    margin-bottom: 20px;
    border-radius: 5px;
    letter-spacing: 0.8px;
  }

  .userImage {
    width: 24px;
    height: 24px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    padding-left: 64px;
    padding-right: 20px;
  }
}

@media screen and (min-width: 1836px) {
  .container {
    padding-left: 100px;
  }
}

@media screen and (min-width: 1920px) {
  .container {
    padding-left: 120px;
  }
}
