.footerLine {
  background-color: #dadada;
  height: 1px;
  width: 100%;
  margin-top: 64px;
}
.desktopHeader {
  display: none;
}
.DesktopCarousel {
  display: none;
}

@media screen and (min-width: 1024px) {
  .mobileHeader {
    display: none;
  }
  .desktopHeader {
    display: block;
  }
  .containerPrimary {
    display: flex;
    margin-top: 30px;
  }
  .MobileCarousel {
    display: none;
  }
  .DesktopCarousel {
    display: block;
  }
}

@media screen and (min-width: 1280px) {
}

@media screen and (min-width: 1440px) {
  .footerLine {
    margin-top: 161px;
  }
}
